<section class="about-us">
  <div class="about-us-container">
    <div class="about-us-thumb">
      <img 
        class="about-us-img" 
        src="./img/about-us/team-mob@2x.jpg" 
        alt="Our Team"
        loading="lazy"
      >
    </div>

    <div class="about-us-content">
      <div class="about-us-title-wrapper">
        <svg class="about-us-icon">
          <use href="./img/sprite.svg#icon-molecule"></use>
        </svg>
        
        <h2 class="about-us-heading">About ArtistsHub</h2>
        
        <p class="about-us-text">
          At ArtistsHub, our mission is to connect music lovers with the artists they adore. 
          We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
        </p>
      </div>
    </div>
  </div>
</section>