<section class="artists-section" id="artists">
    <div class="container">
        <h1 class="section-artists-title">Artists</h1>
        <h2 class="artists-subtitle">Explore Your New Favorite Artists</h2>
        <ul class="art-gallery"></ul>
        <button class="btn-load-more hidden" type="button">
            <span class="lm-text">Load More</span>
            <svg class="down-arrow" width="24" height="24">
                <use href="img/sprite-white.svg#down-arrow"></use>
            </svg>
        </button>
        <div class="loader hidden"></div>
    </div>
</section>
