<section class="feedback-section container" id="reviews">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>
  <div class="swiper feedback-swiper">
    <div class="swiper-wrapper" id="feedback-list"></div>

    <div class="swiper-button-prev feedback-arrow">
      <svg class="icon-review" width="24" height="24">
        <use href="img/sprite-white.svg#left-arrow"></use>
      </svg>
    </div>

    <div class="swiper-button-next feedback-arrow">
      <svg class="icon-review" width="24" height="24">
        <use href="img/sprite-white.svg#right-arrow"></use>
      </svg>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>
