<footer class="footer">
  <div class="footer-container">
    <nav class="nav">
      <a href="../index.html" class="footer-logo">
        <svg width="110" height="36">
          <use href="./img/sprite-white.svg#logo-text-2"></use>
        </svg>
      </a>
      <ul class="nav-links">
        <li><a class="nav-links-item" href="#artists">Artists</a></li>
        <li><a class="nav-links-item" href="#about-us">About us</a></li>
        <li><a class="nav-links-item" href="#reviews">Reviews</a></li>
      </ul>
    </nav>
    <div class="footer-bottom">
      <div class="social">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
        >
          <svg width="40" height="40">
            <use href="./img/sprite-white.svg#Instagram"></use>
          </svg>
        </a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
        >
          <svg width="40" height="40">
            <use href="./img/sprite-white.svg#Facebook"></use>
          </svg>
        </a>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
        >
          <svg width="40" height="40">
            <use href="./img/sprite-white.svg#Youtube"></use>
          </svg>
        </a>
      </div>
      <p class="copyright">© 2025 ArtistsHub. All rights reserved.</p>
    </div>
  </div>
</footer>
