<header class="header container">
  <div class="header-logo">
    <svg class="icon icon-menu" width="106" height="30">
      <use href="./img/sprite-white.svg#logo-text"></use>
    </svg>
  </div>
  <ul class="header-nav">
    <li class="nav-item">
      <a class="nav-item-link" href="#">Artist</a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link" href="#">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link" href="#">Rewiews</a>
    </li>
  </ul>
  <button class="mobile-menu-btn" type="button">
    <svg class="icon icon-menu" width="24" height="24">
      <use href="./img/sprite-white.svg#burger-menu"></use>
    </svg>
  </button>
</header>
