<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <a class="header-logo-link" href="index.html">
        <svg class="header-logo-icon chosen" width="106" height="30">
          <use href="./img/sprite-white.svg#logo-text"></use>
        </svg>
      </a>
    </div>
    <ul class="header-nav">
      <li class="header-nav-item chosen">
        <a class="header-nav-item-link" href="#artists">Artist</a>
      </li>
      <li class="header-nav-item chosen">
        <a class="header-nav-item-link" href="#about-us">About Us</a>
      </li>
      <li class="header-nav-item chosen">
        <a class="header-nav-item-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <button data-menu-open class="mobile-menu-open-btn" type="button">
      <svg class="burger-menu-icon chosen" width="24" height="24">
        <use href="./img/sprite-white.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
