.artists-section{
    max-width: 288px;
    margin: 0 auto;
}
.section-artists-title{
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 16px;
    font-family: 'IBM Plex Sans';
}
.artists-subtitle{
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
}

.art-gallery{
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 32px;
}

.artist-card {
    width: 288px;
}
.art-photo{
    max-height: 177px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    margin-bottom: 24px;
}
.genre{
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}
.genres-list{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.artist-name{
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}
.artist-bio{
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 24px;
}
.learn-more-btn{
    min-width: 125px;
    height: 27px;
    color: #fff;
    display: flex;
    gap: 8px;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}
.btn-text{
    font-weight: 500;
    font-size: 18px;
    font-family: 'IBM Plex Sans';
    line-height: 1.5;
}
.btn-load-more{
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 288px;
    height: 47px;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border-radius: 12px;
    border: none;
    padding: 10px 24px;
    box-shadow:
            0 1px 2px rgba(6, 3, 7, 0.05),
            inset 0 -2px 1px rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(6, 3, 7, 0.15),
            inset 0 2px 1px rgba(255, 255, 255, 0.25);
    background: #764191;
}
.btn-load-more, .learn-more-btn{
    transition: opacity 250ms ease-in-out;
}
.btn-load-more:hover, .learn-more-btn:hover{
    opacity: 0.6;
}
.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .artists-section {
        max-width: 768px;
    }

    .art-gallery {
        gap: 32px;
        margin-bottom: 64px;
    }

    .artist-card {
        width: 704px;
    }

    .art-photo {
        max-height: 433px;
    }

    .btn-load-more{
        width: 340px;
        height: 47px;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 1440px) {
    .artists-section {
        max-width: 1440px;
    }
    .artists-subtitle {
        font-size: 60px;
        max-width: 523px;
        margin-bottom: 80px;
    }

    .art-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 32px;
    }

    .art-photo {
        max-height: 393px;
    }

    .artist-card {
        flex-basis: calc((100% - 32px) / 2);
    }

    .btn-load-more {
        width: 170px;
        height: 47px;
    }
    
}

.artists-section .loader{
    margin: 0 auto;
}