/* Styles for Mobile devices */
.container {
  max-width: 288px;
  margin: 0 auto;
  padding: 0;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1312px;
  }
}
