.feedback-card {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.star-rating {
  display: inline-flex;
  gap: 4px;
  margin-bottom: 32px;
}

.feedback-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 20px;
}

.feedback-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.swiper-pagination {
  position: static !important;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 9px;
}

.custom-bullet {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-bullet-active {
  background-color: #ffffff;
}

.feedback-arrow {
  display: none !important;
}

.star-rating__star {
  display: inline-block;
  width: 20px;
  height: 19px;
  background-color: #ffffff;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"/></svg>')
    no-repeat center;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"/></svg>')
    no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;

  transition: background-color 0.3s ease;
}

/* --- ПЛАНШЕТ (768px+) --- */

@media (min-width: 768px) {
  .feedback-section {
    padding: 64px 32px;
    height: 298px;
    width: 704px;
    overflow: visible;
  }

  .feedback-swiper {
    max-width: 704px;
  }

  .feedback-card {
    max-width: 518px;
    /* padding: 32px; */
  }

  .feedback-text {
    font-size: 24px;
    display: block;
  }

  .feedback-author {
    font-size: 16px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
    position: absolute;
    top: 50%;
    width: 48px !important;
    height: 48px !important;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 16%;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    padding: 0;
    transition: opacity 250ms ease;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 0.6;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev .icon,
  .swiper-button-next .icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}

/* --- ДЕСКТОП (1440px) --- */

@media (min-width: 1440px) {
  .feedback-section {
    padding: 0;

    height: 622px;
    width: 1440px;
  }

  .feedback-swiper {
    max-width: 1216px;
  }

  .feedback-card {
    /* max-width: 866px; */
    padding: 112px 64px;
    /* padding: 40px; */
  }
}
