
.footer{
  display: flex;
flex-direction: column;
align-items: center;
}
.logo {
  margin: 48px 0 32px;

}

.logo svg {
  width: 140px;
  height: auto;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 48px;
}

.nav a {
  font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #fff;
  transition: color 0.2s ease;

}

.nav a:hover,
.nav a:focus {
  color: #764191;
}

.social {
  display:flex;
  gap: 32px;
  margin-bottom: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 32px;
  margin-top: 32px;


}

.social svg {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  transition: fill 0.2s ease;
}



.social-link:hover,
.social-link:focus {
  transform: scale(1.15);

}

.copyright {
font-family: "IBM Plex Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #fff;


}

.footer-top{
display: flex;justify-content: center;

}





@media (min-width: 768px) {
  .footer {
    display: flex;
  }
  .logo{
    display: flex;
    justify-content: center;
    padding-top:32px ;
  }

  .nav{
display: flex;
justify-content: center;
flex-direction: row;


  }


  .copyright{
display: flex;
justify-content: start;
text-align: right;



  }
  .social {
    gap: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    min-width: 704px;
    


  }

}
@media (min-width: 1440px){
.footer{
  display: flex;
  justify-content: center;
}
.social{

width: 1312px;

}



}