.footer {
  width: 100%;
  background-color: #060307;
  padding: 48px 0;
  @media only screen and (min-width: 768px) {
    padding: 80px 0;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 288px;
  margin: 0 auto;
  padding: 0 16px;
  height: auto;
  gap: 48px;
  @media only screen and (min-width: 768px) {
    width: 704px;
    gap: 80px;
  }
  @media only screen and (min-width: 1440px) {
    width: 1312px;
  }
}
.footer-logo {
  fill: #764191;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 768px) {
    width: 116px;
    height: 45px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.nav-links-item {
  text-decoration: none;
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus {
    color: #764191;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding-top: 23px;
  padding-bottom: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  @media only screen and (min-width: 768px) {
    width: 704px;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 0;
  }

  @media only screen and (min-width: 1440px) {
    width: 1312px;
  }
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}

.social svg {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  transition: fill 0.2s ease;
}

.social-link:hover,
.social-link:focus {
  transform: scale(1.15);
}

.copyright {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
