/*header*/

.header {
  width: 288px;
  height: 51px;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  @media only screen and (min-width: 768px) {
    width: 640px;
  }
  @media only screen and (min-width: 1440px) {
    width: 1312px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 32px;
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}
.nav-item-link {
  display: inline-block;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    opacity: 0.6;
  }
  &:active {
    opacity: 0.2;
  }
}
.mobile-menu-btn {
  display: block;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  @media (min-width: 768px) {
    display: none;
  }
}
