/*header*/
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;

  background-color: rgba(6, 3, 7, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  transition:
    background-color 250ms ease,
    backdrop-filter 250ms ease;
}

.header-container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  max-width: 100%;
  @media only screen and (min-width: 768px) {
    width: 640px;
    height: 72px;
  }
  @media only screen and (min-width: 1440px) {
    width: 1312px;
  }
}

.header-logo {
  height: 51px;
  display: flex;
  align-items: center;
}
.header-logo-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 51px;
}

.header-nav {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 32px;
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}
.header-nav-item-link {
  display: flex;
  align-items: center;
  height: 51px;
  text-decoration: none;
}
.mobile-menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.chosen {
  transition: all 250ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    opacity: 0.6;
  }
  &:active {
    opacity: 0.2;
  }
}
