.hero-section {
  background:
    linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
    image-set(
      url('../img/hero/hero-bg-mob-1x.webp') 1x,
      url('../img/hero/hero-bg-mob-2x.webp') 2x
    ),
    linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 106px), #23132b;
  background-repeat: repeat, no-repeat, repeat;
  background-position: bottom;
  background-size:
    100% 100%,
    280px 385px,
    100% 100%;
}

.container-hero {
  width: 320px;
  min-height: 1031px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 128px;
  padding-bottom: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.hero-info-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}
.hero-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.hero-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.hero-link {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  width: 100%;
  height: 47px;

  border-radius: 12px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: rgba(118, 65, 145, 0.05);
    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset none,
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  }
  &:active {
    background-color: #764191;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background:
      linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
      image-set(
        url('../img/hero/hero-bg-tab-1x.webp') 1x,
        url('../img/hero/hero-bg-tab-2x.webp') 2x
      ),
      linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 106px), #23132b;
    background-repeat: repeat, no-repeat, repeat;
    background-position: bottom;
    background-size:
      100% 100%,
      704px 632px,
      100% 100%;
  }

  .container-hero {
    margin-top: 32px;
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
    width: 768px;
    min-height: 995px;
  }

  .hero-info {
    width: 624px;
  }

  .hero-text {
    font-size: 20px;
  }

  .hero-link {
    min-width: 246px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background:
      linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
      linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 137px), #23132b;
    margin: 0 auto;
  }

  .container-hero {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    min-height: 900px;
    padding-left: 64px;
    padding-right: 64px;

    background:
      linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
      linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 137px),
      image-set(
        url('../img/hero/hero-bg-dsktp-1x.webp') 1x,
        url('../img/hero/hero-bg-dsktp-2x.webp') 2x
      );

    background-repeat: repeat, repeat, no-repeat;
    background-position: center, center, right;
    background-size:
      100% 100%,
      100% 100%,
      641px 900px;
  }

  .hero-info {
    width: 640px;
  }

  .hero-title {
    font-size: 84px;
  }
}
