.hero-section {
  background:
    linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
    image-set(
      url('../img/hero/hero-bg-mob-1x.webp') 1x,
      url('../img/hero/hero-bg-mob-2x.webp') 2x
    ),
    linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 106px), #23132b;
  background-repeat: repeat, no-repeat, repeat;
  background-position: bottom;
  background-size:
    100% 100%,
    280px 385px,
    100% 100%;
}

.container-hero {
  min-height: 1031px;
  box-sizing: border-box;
}

.hero-info {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

.hero-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.hero-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.hero-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  min-width: 288px;
  height: 47px;
  margin: 24px auto 64px;
  padding: 10px 24px;

  border-radius: 12px;
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
}

@media screen and (min-width: 768px) {
  .hero-section {
    background:
      linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
      image-set(
        url('../img/hero/hero-bg-tab-1x.webp') 1x,
        url('../img/hero/hero-bg-tab-2x.webp') 2x
      ),
      linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 106px), #23132b;
    background-repeat: repeat, no-repeat, repeat;
    background-position: bottom;
    background-size:
      100% 100%,
      704px 632px,
      100% 100%;
  }

  .container-hero {
    min-height: 900px;
  }

  .hero-info {
    width: 624px;
    padding-top: 32px;
    padding-right: 80px;
  }

  .hero-text {
    font-size: 20px;
  }

  .hero-link {
    min-width: 246px;
    margin: 32px 458px 32px 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background:
      linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
      linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 137px), #23132b;
  }

  .container-hero {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    background:
      linear-gradient(to top, #060307 0%, rgba(35, 19, 43, 0) 80px),
      linear-gradient(to bottom, #060307 0%, rgba(35, 19, 43, 0) 137px),
      image-set(
        url('../img/hero/hero-bg-dsktp-1x.webp') 1x,
        url('../img/hero/hero-bg-dsktp-2x.webp') 2x
      ),
      #23132b;
    background-repeat: repeat, repeat, no-repeat;
    background-position: center, center, right;
    background-size:
      100% 100%,
      100% 100%,
      641px 900px;
  }

  .hero-info {
    width: 640px;
    padding-right: 31px;
  }

  .hero-title {
    font-size: 84px;
  }
}
