/*modal*/
body.modal-open {
  overflow: hidden ;
}

section.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 64px 0;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(34, 34, 34, 0.9);
  &.is-open {
    display: block;
  }
}

.modal-wrapper {
  position: relative;
  margin: 0 auto;
  background: #060307;
  border-radius: 16px;
  padding: 52px 0px;
  max-width: 288px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #060307 rgba(0, 0, 0, .1);
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  background-color: transparent;
  &::before {
    width: 50%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: rotate(45deg);
    background-color: #fff;
    content: '';
  }
  &::after {
    width: 50%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: rotate(-45deg);
    background-color: #fff;
    content: '';
  }
}
.modal-title {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}

.modal-section {
  display: flex;
  padding: 0 8px;  
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}

.artist-info-section {
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.artist-img {
  border-radius: 16px;
  width: 272px;
  height: 167px;
  overflow: hidden;
  margin: 16px auto ;
  img {
    display: block;
    min-width: 272px;
    width: 100%;
    height: auto;
  }
}
.artist-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items:flex-start;
}

.artist-info-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  .artist-info-descr {
    font-weight: 400;
  }
  &.artist-info-style {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .artist-style {
      display: block;
      font-size: 16px;
      box-sizing: border-box;
      border-radius: 6px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 4px 10px;
    }
  }
}
.artist-album-section {
  display: block;
  .artist-album-title {
    font-size: 24px;
    text-align: left;
    margin: 16px 0;
  }
  .artist-album-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .artist-album-item { 
    background: #1e1c1f;
    border-radius: 16px;
    width: auto;
    height: auto;
    padding: 14px 8px;
    box-sizing: border-box;
  }
  table {
    text-align: left;
    width: 100%;
    min-width: 250px;
    border-collapse: collapse; 
    caption {
      text-align: left;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;   
      padding: 0 0px 14px;
    }
    tr:nth-child(odd) {
      background: rgba(255, 255, 255, 0.05);
    }
    th {
      padding: 4px 0px 4px 12px;
      font-size: 8px;
    }
    td {
      padding: 8px 0px 8px 12px;
      font-size: 12px;
    }
    th:first-child,
    td:first-child {
      border-radius: 8px 0 0 8px;
    }
    th:last-child,
    td:last-child {
      border-radius: 0 8px 8px 0 ;
    }
    .artist-song-link {
      display: block;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
    }
  }
}

.artist-info-item {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: all .2s ease-out;
}

.see-more,
.see-less {
  position: absolute;
  width: 120px;
  text-align: right;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(6, 3, 7, 0.62) 0%, rgba(6, 3, 7, 0.9) 20%, rgba(6, 3, 7, 1) 100%);  
  span {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 400;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .modal-wrapper {
    padding: 64px 0;
    max-width: 702px;
  }
  .modal-close-btn {
    right: 47px;
  }
  
  .modal-title {
    font-size: 32px;
    margin-bottom: 48px;
  }
  .modal-section {
    padding: 0 24px;
  }
  .artist-info-section {
    gap: 32px;
  }
  .artist-img {
    width: 654px;
    height: 402px;
    margin: 0 auto;
    img {
      display: block;
      min-width: 654px;
    }
  }
  .artist-info-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    .artist-info-item:nth-child(2n+1) {
      width: 146px;
    }
    .artist-info-item:nth-child(2n) {
      flex-basis: calc(100% - 180px);
      flex-grow: 1;
    }
    .artist-info-item[data-artist-bio] {
      width: 100%;
    }
  }
  .artist-album-section {

    .artist-album-title {
      font-size: 24px;
      text-align: left;
      margin: 48px 0 16px;
    }
    .artist-album-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .artist-album-item {
      flex-basis: calc((100% - 32px) / 2);
    }
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {  
  .modal-wrapper {
    max-width: 1312px;
  }
  .modal-close-btn {
    right: 16px;
  }

  .modal-section {
    padding: 0 64px;
  }
  .artist-info-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .artist-img {
    flex-basis: calc((100% - 32px) / 2);
    flex-shrink: 0;
    img {
      min-width: 100%;
    }
  }
  .artist-info-list {
    gap: 24px;
  }
  .artist-album-section {
    .artist-album-item {
      flex-basis: calc((100% - 96px) / 4);
    }
  }
}